{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>gen</title>
    <script src="{% static "predictor/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "predictor/js/popper.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "predictor/css/bootstrap.min.css" %}">
    <script src="{% static "predictor/js/bootstrap.min.js" %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'blank' %}">WSP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Создание
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'newdisease' %}">Новая болезнь</a>
                    <a class="dropdown-item" href="{% url 'newcity' %}">Новый город</a>
                    <a class="dropdown-item" href="{% url 'newjsonmodel' %}">Новая модель</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Загрузка
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'newdiseasedatadaily' %}">Дневные агрегированные данные</a>
                    <a class="dropdown-item" href="{% url 'newdiseasedata' %}">Недельные агренированные данные</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Списки
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'listjsonmodel' %}">Список моделей</a>
                    <a class="dropdown-item" href="{% url 'trainedmodellist' %}">Список обученных моделей</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>




{% block content %}
{% endblock %}
</body>
</html>